* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    text-align: center;
    margin-top: 30px;
}

div {
    margin: 30px auto 10px;
}

div > button {
    height: 24px;
    width: 40px;
}

#taskInput {
    height: 20px;
    width: 250px;
}

ul {
    width: 300px;
    margin: auto;
    text-align: left;
}

li > span{
    margin-left: 5px;
}
